/* =====================Globle Settings ============ */

:root {
  --secondary-color: #3188eb;
  --primary-color: #2081ef;
 
  --background-color1: #f9f7f7;
  --text-color: #333;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #575a7b;
  --light-gray-color: #f8f8f8;
  --heading-color: #154161; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px; /* Sets the base font size */
  line-height: 1.5; /* Sets a comfortable line height */
  -webkit-text-size-adjust: 100%; /* Prevents font resizing in some browsers */
  scroll-behavior: smooth; /* Enables smooth scrolling */
  scroll-padding-top: var(--scroll-padding-top, 50px);
}
body {
  font-family: 'Poppins', sans-serif; /* Sets the default font family */
    color: var(--text-color); /* Sets a standard text color */
    line-height: 1.6; /* Sets a comfortable line height */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    background-color: var(--background-color1);
} 
section{
  padding: 20px 20px;
}

section h2 {
  text-align: center;
  font-weight: bold;
  color: var(--heading-color); 
}

/* ================================NAVIGATION ======================== */
.nav { 

  padding: 0 10px;
  height: 70px;
  background: var(--white-color);
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 3px var(--primary-color);
} 

.nav .logo img {
  width: 120px;
}

.nav ul {
  position: relative;
}

.nav ul li {
    list-style: none;
  position: relative; 
  float: left;
  /* display: flex; */
  /* align-items: center; */
}
.nav ul li a{
  color: var(--text-color);
  padding:  10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav ul li a:hover{
  color: var(--primary-color);
}
/* nav .fa-solid{
  display: flex;
  align-items: center;
} */
.nav ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background-color: var(--white-color);
  border-radius: 5px;
  display: none;
}
.nav ul li:hover > ul{
  display: block;
}

.nav ul li ul li {
  position: relative;
  width: 100%;
}

.nav ul li ul li ul {
top: 0;
left: 200px;
}

.nav .mobile-lang button,
.nav .desktop-lang button {

  background: var(--primary-color);
  border: none;
  padding: 10px 20px;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 5px;
  width: 80px;
}

.nav button:hover {
  background: var(--secondary-color);
}

.mobile-lang button{
  display: none;
}


.nav .hamburger {

  display: none;
}

/* =======================NAV End ================================================= */







 
/* ================================HEADER =================== */
header .hero {
  background: linear-gradient(var(--primary-color), rgba(180, 178, 178, 0.5)), url("../images/silder2.jpg") no-repeat center center/cover;
  height: 100vh;
  color: var(--white-color);
}

header .hero .overlay {
  background-color: #e1f7fa7b;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

header .overlay h1 .underline {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: var(--heading-color); /* Brighten up the text color for contrast */
}

header .overlay h1 .underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%; 
  height: 4px; /* Thicker underline */
  background-color: var(--primary-color); /* Orange color for underline */
  transition: width 0.5s ease-in-out; /* Smooth transition for the underline */
}

header .overlay h1 .underline:hover::after {
  width: 100%; /* Underline grows to full width on hover */
}

header .hero .overlay h1 {
  font-size: 3rem;

}

header .hero .overlay p {
  font-size: 1.5em;  
}

#typed-text, #typed-text_ar{
  font-weight: bold;
  color:var(--primary-color) ;

}

header .hero .cta-buttons {
  margin-top: 20px;
}

header .hero .cta-buttons .btn {
  background-color: var(--primary-color); 
  color: #fff; 
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s, transform 0.3s; /* Added transform to transition properties */
}

header .hero .cta-buttons .btn:hover {
  background-color: var(--secondary-color); /* Orange color on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

/* =================================header End ================================================================= */

/* ==========================About Section  ===================== */
.about {
  display: flex;
  height: 90vh;
  text-align: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
}


/* Text styles */
.about-text {
  flex: 1;
  min-width: 300px;
  max-width: 1000px; 
  text-align: left;
  animation: fadeInLeft 1s ease-out;
}

.about-text h3 {
  font-size: 2.5em;
  color: var(--primary-color); /* Adds a pop of color */
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-text button {
  background-color: var(--primary-color); /* Changed to orange for better visibility */
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.about-text button:hover {
  background-color: var(--secondary-color); /* Darker shade of orange on hover */
}

.about-image {

  flex: 1;
  min-width: 300px;
  max-width: 1000px;
  animation: dropIn 1s ease-out;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
}

.about-image {
  position: relative;
   width: 100%;
  height: 300px;  
   /* Adjust based on your design requirements */
  overflow: hidden;
}

.about-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.about-image img.active {
  opacity: 1;
}




/* Animations about Image */
@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* =================About section End ================ */

/* =========================Facts=========== */

.facts_section  {
  width: 80vw;
  display: grid;

}
.wrapper {
position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}
.facts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em ;
  border-radius: 0.5em;
  background-color: var(--primary-color);

}

span.num {
  color: var(--white-color);
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text {
 color: var(--heading-color);
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  line-height: 0;
}

 @media screen and (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .facts {
    width: calc(40%);
  
  }
}

@media screen and (max-width: 500px) {
  .facts {
    width: calc(100%);
 
  }
}




/* =========================FActs End ================================================================= */

  /* ===========================Our Services==================  */
  .sevices_section, .facts_section  {
    width: 100%;
    display: grid;
    /* direction: rtl; */
  
 
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 1.5em 1em;
    background: linear-gradient(var(--white-color) 50%, var(--primary-color) 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 17px;
    font-weight: 600;
    color: var(--heading-color);
    margin: 1em 0;
  }
  .card_data {

    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: var(--primary-color);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 1.5em;
    width: 1.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: var(--white-color);
    color: var(--secondary-color);
  }
  .card:hover h3 {
    color: var(--white-color);
  }
  .card:hover p {
    color: var(--white-color);
  }

  .sevices_section{
padding: 40px 20px;
text-align: center;

  } 

  .services_section{
    display: flex;
    justify-content: space-evenly;
 
    flex-direction: column;
gap: 4vh;
    height: 90vh;
  }
  @media screen and (min-width: 768px) {
  
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {

    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
   
  }
  
  /* ===========================Our Clients ==================  */



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos,.products {
  height: 
  50vh;
  overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
  background: transparent;
  white-space: nowrap;
  position: relative;
}

.products {
  width: 90vw;
}

.logos:before,
.logos:after , .products:before,
.products:after{
  position: absolute;
  top: 0;
  width: 20vw;
  height: 100%;
  content: "";
  z-index: 2;
}



.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary-color));
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0),var(--primary-color));
}

.logos:after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),var(--primary-color));
}






.logos:hover .logos-slide,.products:hover .products-slide {
  animation-play-state: paused;
}

.logos-slide ,.products-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  /* display: inline-block; */
  animation: 30s slide infinite linear;

}

.logos-slide img {
  

  height: auto;
  width: 12em;
  margin: 0 40px;
}








/* Testimonials */
.testi_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
 
  text-align: center;
}

.testimonials-container {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.testimonial-slide {
  display: flex;
  transition: transform 0.5s ease;
}


.testimonial {
  display: flex;
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.testimonial img {
  object-fit: cover;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px dotted  var(--primary-color);
}

.testimonial p {
  font-size: 1.2em;
  line-height: 1.6;

}
.quote{
  color: var(--primary-color);
}
.testimonial h3 {
  font-size: 1.1em;
  color: var(--primary-color);
  margin-top: 10px;
}

.testimonial-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.testimonial-controls span {
  cursor: pointer;
  padding: 20px;
  font-size: 2.5em;
  user-select: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

.testimonial-controls span:hover {
  color: var(--secondary-color);
}



/* ===========Contact========= */
.container_contact {
  background-color: #d4dfeb;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;

}

h2 {
  text-align: center;

}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-details, .contact-form {
  flex: 1;
  min-width: 300px; 
}

.contact-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .contact_caption, p{
  font-size: 1em;

}
.contact_icon{
  color: var(--primary-color);
}

.contact-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid --primary-color
  ;
  border-radius: 4px;
}

.contact-form button {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.social-media {
  text-align: center;
  padding: 20px 0  ;
}
.social-media a {
  margin-right: 10px;
  font-size: 24px;
  text-decoration: none;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 4px;
}

.contact-details h3{
  text-align: center;
  color: var(--primary-color);
}

.btn:hover {
  background: var(--secondary-color)  ;
}

footer p{
  width: 100%;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  margin: 0;
  color: rgb(215, 215, 215);
  background-color: #282828

  ;
}
button{
  display: block;
}








/* Adjustments for other sections as needed */
















/* ===================================== */






























/* ==========================Media Quiries============================ */

@media  (max-width: 900px) {
  .nav ul{
    display: none;
    position: absolute;
    width: 100%;
    top: 66px;
    background-color: var(--white-color);
left: 0;
  }
  .nav ul li{
    border-top: 1px solid var(--primary-color);
    width: 100%;
  }
  .nav ul li ul  {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
  }
  .nav ul li ul li ul {
    top: 0 ;
    left: 0;

  }
  .nav ul li:hover > ul li{
    background-color: #eff8ff;

  }
  .nav .mobile-lang button {
    display: block;
    
  }
  .desktop-lang button {
display: none;
  }
  .nav .hamburger {
  
    position: relative;
    width: 30px;
    height: 20px;
  


    display: block;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger::before{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 100px;


    width: 100%;
    height: 3px;
    transform: translateY(-12px);
    box-shadow: 0 12px var(--primary-color);


  }
  .hamburger::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 100px;


    width: 100%;
    height: 3px;
    transform: translateY(12px);


  }
  .nav.active .hamburger::before{
    transform: rotate(45deg);
    box-shadow: 0 0 var(--primary-color);
  }
  .nav.active .hamburger::after{
    transform: rotate(-45deg);
    box-shadow: 0 0 var(--primary-color);
  }
  .nav.active #nav-menu{
    display: inline;
  }
  .mobile-lang{

    display: flex;
    justify-content: center;
   

  }
  .mobile-lang button{
    margin : 10px 0 ;  }


  
  .nav .desktop-lang {
    display: none;
  }


  .testi_section {
  height: 100%;
      } 
       .container_contact {
        background-color: #d4dfeb;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
      
      } 

      .services_section{
     
        height: 100%;
      }
      .about {
      
        height: 100%;
      
      }


      
body[lang="ar"]  ul li ul li ul li{

  left: 150px;
  }
  body[lang="en"]  ul li ul li ul li{

    left:  50px;
    }

}






body[lang="ar"]  ul li{
  text-align: right;

float: right;
}


body[lang="ar"]  ul li ul li ul{

  left: -200px;
  }

  body[lang="ar"]  .about p {

    text-align: right;
    }
 
    body[lang="ar"] .overlay  {
      direction: ltr;
    
    }

    body[lang="ar"]  .about {
      direction: ltr;
    
    }


    body[lang="ar"] .facts_section .num {
      direction: ltr;
    
    }


    body[lang="ar"] .overlay {
      direction: rtl;
    
    }

    body[lang="ar"]  .about{
      direction: rtl;
    
    }
    body[lang="ar"] .facts_section {
      direction: rtl;
    
    }

    body[lang="ar"] .services_section {
      direction: rtl;
    
    }

    body[lang="ar"] .testi_section p {
      direction: rtl;
    
    }

    body[lang="ar"] .contact-content{
      direction: rtl;
    
    }

    body[lang="ar"] .testi_section p{
      direction: ltr;
    
    }

    body[lang="ar"]   .contact-content .social-media{
      direction: ltr;
    
    }




    body[lang="ar"] .testi_section p {
      direction: rtl;
    
    }

    body[lang="ar"]    footer{
      direction: rtl;
    
    }
    
    
