

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px; /* Sets the base font size */
  line-height: 1.5; /* Sets a comfortable line height */
  -webkit-text-size-adjust: 100%; /* Prevents font resizing in some browsers */
  scroll-behavior: smooth; /* Enables smooth scrolling */
  scroll-padding-top: var(--scroll-padding-top, 50px);
}
body {
  font-family: 'Poppins', sans-serif; /* Sets the default font family */
    color: #333; /* Sets a standard text color */
    line-height: 1.6; /* Sets a comfortable line height */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    color: #333;
    background-color: #f9f7f7;
} 
section{

  padding: 20px 20px;

}

section h2 {
  text-align: center;
  font-weight: bold;
  color: #154161; 
}

/* ================================NAVIGATION ======================== */
.nav {
  padding: 20px;
  height: 70px;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 3px #3188ebfe;
}

.nav .logo  img{
  width: 120px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav ul li {
  margin: 0 15px;
}

.nav .mobile-lang button,.nav .desktop-lang button{

  background: #4B91E3;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.nav  button:hover{
  background: #41b18d;
}

.nav ul li a {
  color: #3D3E3B; 
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #4B91E3;
}

.nav .hamburger {
  display: none;
  cursor: pointer;

}


/* Hamburger Icon toggle */
.hamburger i {
  font-size: 2rem;
  color: #4B91E3;
}


 
/* ================================HEADER =================== */
header .hero {
  background: linear-gradient(#266bdb, rgba(180, 178, 178, 0.5)), url("../images/silder2.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;;
}

header .hero .overlay {
  background-color: #e1f7fa7b;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

header .overlay h1 .underline {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #154161; /* Brighten up the text color for contrast */
}

header .overlay h1 .underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%; 
  height: 4px; /* Thicker underline */
  background-color: #3188eb; /* Orange color for underline */
  transition: width 0.5s ease-in-out; /* Smooth transition for the underline */
}

header .overlay h1 .underline:hover::after {
  width: 100%; /* Underline grows to full width on hover */
}

header .hero .overlay h1 {
  font-size: 3rem;

}

header .hero .overlay p {
  font-size: 1.5em;  
}

#typed-text, #typed-text_ar{
  font-weight: bold;
  color:#2c7bfe ;

}

header .hero .cta-buttons {
  margin-top: 20px;
}

header .hero .cta-buttons .btn {
  background-color: #3188eb; 
  color: #fff; 
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s, transform 0.3s; /* Added transform to transition properties */
}

header .hero .cta-buttons .btn:hover {
  background-color: #2081ef; /* Orange color on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}


/* ==========================OUR MISSION ===================== */
.about {
  display: flex;
  background-color: #f8f8f8;
  height: 90vh;
  text-align: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
}


/* Text styles */
.about-text {
  flex: 1;
  min-width: 300px;
  max-width: 1000px; 
  text-align: left;
  animation: fadeInLeft 1s ease-out;
}

.about-text h3 {
  font-size: 2.5em;
  color: #2081ef; /* Adds a pop of color */
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-text button {
  background-color: #3188eb; /* Changed to orange for better visibility */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.about-text button:hover {
  background-color: #2081ef; /* Darker shade of orange on hover */
}

.about-image {

  flex: 1;
  min-width: 300px;
  max-width: 1000px;
  animation: dropIn 1s ease-out;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
}

.about-image {
  position: relative;
   width: 100%;
  height: 300px;  
   /* Adjust based on your design requirements */
  overflow: hidden;
}

.about-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.about-image img.active {
  opacity: 1;
}

/* Animations about Image */
@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



/* =========================Facts=========== */

.facts_section  {
  width: 80vw;
  display: grid;

}
.wrapper {
position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}
.facts {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em ;
  border-radius: 0.5em;
  background-color: #2c7bfe;

}

span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text {
 color: #154161;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .facts {
    width: calc(40%);
  
  }
}
@media screen and (max-width: 500px) {
  .facts {
    width: calc(100%);
 
  }

 
}






  /* ===========================Our Services==================  */
  .sevices_section, .facts_section  {
    width: 100%;
    display: grid;
  
 
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 1.5em 1em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 17px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  .card_data {
    color: #575a7b;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 1.5em;
    width: 1.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }

  .sevices_section{
padding: 40px 20px;
text-align: center;

  } 

  .services_section{
    display: flex;
    justify-content: space-evenly;
 
    flex-direction: column;
gap: 4vh;
    /* height: 90vh; */
  }
  @media screen and (min-width: 768px) {
  
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {

    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
   
  }
  
  /* ===========================Our Clients ==================  */



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  height: 
  50vh;
  overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
  background: transparent;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 20vw;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #3d87ff);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #3d87ff);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 5em;
  width: 10em;
  margin: 0 40px;
}



/* Testimonials */
.testi_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
 
  text-align: center;
}

.testimonials-container {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.testimonial-slide {
  display: flex;
  transition: transform 0.5s ease;
}


.testimonial {
  display: flex;
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.testimonial img {
  object-fit: cover;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px dotted  #4b91e3;
}

.testimonial p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}
.quote{
  color: #4b91e3;
}
.testimonial h3 {
  font-size: 1.1em;
  color: #4b91e3;
  margin-top: 10px;
}

.testimonial-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.testimonial-controls span {
  cursor: pointer;
  padding: 20px;
  font-size: 2.5em;
  user-select: none;
  color: #4b91e3;
  transition: color 0.3s;
}

.testimonial-controls span:hover {
  color: #3188eb;
}



/* ===========Contact========= */
.container_contact {
  background-color: #d4dfeb;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;

}

h2 {
  text-align: center;

}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-details, .contact-form {
  flex: 1;
  min-width: 300px; /* Ensures responsiveness on smaller devices */
}

.contact-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .contact_caption, p{
  font-size: 1em;

}
.contact_icon{
  color: #007bff;
}

.contact-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  color: #007bff;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #007bff
  ;
  border-radius: 4px;
}

.contact-form button {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.social-media {
  text-align: center;
  padding: 20px 0  ;
}
.social-media a {
  margin-right: 10px;
  font-size: 24px;
  text-decoration: none;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  /* transition: background 0.3s ease; */
}

.contact-details h3{
  text-align: center;
  color: #007bff;
}

.btn:hover {
  background: #0056b3;
}



footer p{
  width: 100%;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  margin: 0;
  color: rgb(215, 215, 215);
  background-color: #282828

  ;
}



/* =================== */

/* ============================================
 */





/* Adjustments for other sections as needed */
body[lang="ar"] .about-text, body[lang="ar"] .facts_section {
  text-align: right;
}
body[lang="ar"] .facts_section{
  direction: ltr;
}


/* done  */

body[lang="ar"] .about-text h3 {
  text-align: left;
  
}


body[lang="ar"] .services_section, body[lang="ar"] .facts_section {
  text-align: right;
}

body[lang="ar"] , .testi_section{
  direction: ltr;
}


body[lang="ar"] p{
  direction: rtl;
}

body[lang="ar"] .contact-content{
  gap: 5vh;
}

body[lang="ar"] .overlay h1{
  direction: rtl;
  gap: 5vh;
}
/* ===================================== */




/* Responsive Design */
@media (min-width: 768px) {
  .nav .mobile-lang button {
    display: none;
  }

  .nav .desktop-lang {
    display: block;
  }
  .about-container{
    padding: 90px 0;
  }

}
@media (max-width: 768px) {
  .nav .hamburger {
    display: block;
  }


  .testi_section {
   height: 100%;
      }
      .container_contact {
        background-color: #d4dfeb;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
      
      }

      .services_section{
     
        height: 100%;
      }
      .about {
      
        height: 100%;
      
      }

  .nav ul {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 70px;
    background: #ffffff;
    width: 100%;
    display: none;
  }

  .nav ul li {

    padding: 10px 0;
  }

  .nav ul.show {

    display: flex;
  }

  .nav .mobile-lang button {
    display: block;
  }

  .nav .desktop-lang {
    display: none;
  }
}